
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
    background-color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: 20;
    color: #ffffff;
    padding: 0;
    text-align: center;
}

.site-header {
    position: fixed;
    top: 0;
    left: 230px;
    right: 0;
    z-index: 1100;
    background-color: rgba(0, 0, 0, 0.95);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 180px;
    height: auto;
}


.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100vh;
    background-color: #111;
    padding: 40px 25px;
    border-right: 1px solid #1f1f1f;
    z-index: 1000;
}

.side-nav a {
    display: block;
    color: #bbb;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 25px;
    letter-spacing: 1px;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #e10600;
}

.page-content {
    margin-left: 230px;
}

.car-title {
    text-align:center;
    font-size: 200px;
    font-weight: bold;
    color: rgba (255, 255, 255);
    font-family: 'Impact' , 'Extenda 30 Deca' , 'san serif';
    letter-spacing: 10px
}

.hero {
    padding-top: 120px;
}


.hero-content img{
    width: 450px
}

.intro-tagline {
    background-color: #efe9e9;
    text-align: center;
    padding: 30px 20px;
}

.tagline-content h1 {
    font-size: 30px;
    color: #111;
    font-weight: bold;
    margin-bottom: 20px;
}

.tagline-content p {
    font-size: 15px;
    max-width: 800px;
    margin: 0 auto 18px;
    color: #000000;
}

.promo {
  background-color: #070707;
  text-align: center;
  padding: 40px 20px;
  border-radius: 10px;
}

.promo img {
  max-width: 500px;
  height: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.promo h4 {
  color: #f5f2f2;
  font-size: 18px;
  margin-bottom: 10px;
}

.promo h1 {
  font-size: 36px;
  font-weight: bold;
  color: #9d1111;
  margin-bottom: 10px;
}

.promo p {
  font-size: 15px;
  font-style: italic;
  color: #f6f4f4;
}

.btn {
  padding: 10px 13px;
  background-color: #861010;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #b32222;
}

main {
    flex: 1;
    padding: 50px;
}

main h2 {
    font-size: 28px;
    margin-bottom: 20px;
    border-left: 4px solid #e10600;
    padding-left: 12px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.card {
    background-color: #121212;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #1c1c1c;
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-8px);
    border-color: #e10600;
}

.card h3 {
    color: #e10600;
    margin-bottom: 12px;
    font-size: 20px;
}

.card p {
    color: #bbb;
    font-size: 15px;
    line-height: 1.6;
}

.car1 {
    width: 300px;
}

.car2 {
    width: 300px;
}

.car3 {
    width: 300px;
}


.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.auth-card {
    background-color: #121212;
    padding: 40px;
    max-width: 480px;
    width: 100%;
    border-radius: 14px;
    border: 1px solid #1f1f1f;
    box-shadow: 0 0 18px rgba(225, 6, 0, 0.35);
}

.auth-card h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #ff4c4c;
}

.auth-card p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.auth-card a {
    color: #e10600;
}


/* ===============================
   PROFILE PAGE (CARCE THEME)
   =============================== */

.profile-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0b0b0b;
}

.profile-header {
    margin-top: 40px;
    text-align: center;
}

.profile-header h1 {
    letter-spacing: 3px;
    font-size: 32px;
}

.profile-header p {
    color: #aaa;
    font-size: 14px;
}

/* PROFILE CARD */
.profile-card {
    background-color: #121212;
    width: 360px;
    margin-top: 40px;
    border-radius: 18px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #1f1f1f;
    box-shadow: 0 10px 40px rgba(0,0,0,0.6);
}

.profile-banner img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

/* AVATAR */
.profile-avatar {
    margin-top: -55px;
}

.profile-avatar img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 4px solid #e10600;
    background-color: #000;
}

/* NAME & ROLE */
.profile-card h2 {
    margin-top: 15px;
    font-size: 22px;
}

.profile-role {
    font-size: 14px;
    color: #e10600;
}

/* STATS */
.profile-stats {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.profile-stats h4 {
    font-size: 13px;
    color: #aaa;
    margin-bottom: 6px;
}

.profile-stats p {
    font-size: 14px;
    font-weight: bold;
}

.profile-btn {
    display: inline-block;
    margin-bottom: 25px;
    padding: 10px 22px;
}

.side-nav a.active {
    color: #e10600;
    font-weight: bold;
}

.profile-card {
    background-color: #121212;
    padding: 35px;
    max-width: 600px;
    border-radius: 15px;
    border: 1px solid #1f1f1f;
    box-shadow: 0 0 20px rgba(255, 76, 76, 0.4);
}

.profile-card p {
    font-size: 16px;
    margin-bottom: 12px;
    color: #eaeaea;
}

.profile-card strong {
    color: #ff4c4c;
}


.about-hero {
  background: url("image/carbg.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

.about-hero::before { 
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.about-text { 
  position: absolute;
  bottom: 40px;
  right: 50px;
  max-width: 800px;
  z-index: 2;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
}

.about-text h2 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #ff4c4c;
}

.about-text p {
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #f0f0f0;
}

.about-closing {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.belief-section {
    background-color: #000000;
    padding: 45px 15px;
    display: flex;
    justify-content: center;
}

.belief-box {
    background-color: #1c1b1b;
    color: #fff;
    padding: 30px;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(136, 5, 5, 0.7);
    text-align: center;
}

.belief-box h2 {
    color: #ff4c4c;
    font-size: 30px;
    margin-bottom: 10px;
}

.belief-box p {
    font-size: 18px;
    line-height:18px;
}

.why-choose-us {
    background-color: #212020;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
    border-top: 2px solid #600000;
    box-shadow: inset 0 0 30px rgba(255, 0, 0, 0.1);
}

.why-choose-us h2 {
    color: #ff4c4c;
    font-size: 32px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 5px black;
}

.why-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.why-box {
    background-color: #161515;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(255, 76, 76, 0.5);
}

.why-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(255, 76, 76, 0.4);
}

.why-box h3 {
    font-size: 20px;
    color: #de2e2e;
    margin-bottom: 10px;
}

.why-box p {
    font-size: 16px;
    line-height: 1.5;
}

form {
    max-width: 520px;
    margin-top: 20px;
}

.contactForm h2 {
    align-content:flex-end;
}

input,
textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 18px;
    background-color: #111;
    border: 1px solid #2a2a2a;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
}

input::placeholder,
textarea::placeholder {
    color: #777;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #e10600;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #e10600;
    border: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #b80500;
}

#response {
    margin-top: 15px;
    font-size: 15px;
}

footer {
    background-color: #000;
    border-top: 1px solid #1f1f1f;
    text-align: center;
    padding: 22px;
    font-size: 13px;
    color: #888;
}