body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #333;
    margin: 0;
}

.nav {
    padding: 15px;
}

.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 15px;
}

.nav a:hover {
    text-decoration: underline;
}

.content {
    text-align: center;
    margin-top: 80px;
}

.lastname {
    font-size: 60px;
    margin-bottom: 10px;
}

.firstname {
    font-size: 28px;
    color: #808080
}